{% extends 'default.html' %}
{% load custom_filters %}

{% block title %}{{ post.title_of_post|censor }}{% endblock title %}

{% block content %}
<article>
    <!-- Заголовок новости -->
    <h2>{{ post.title_of_post|censor }}</h2>

    <!-- Дата публикации -->
    <p><small>{{ post.data_created|date:'d.m.Y' }}</small></p>

    <!-- Полный текст новости -->
    <div style="margin-top: 20px; margin-bottom: 20px;">
        {{ post.text_of_post|censor|linebreaks }}
    </div>

    <!-- Ссылка для возврата к списку новостей -->
    <a href="{% url 'news_list' %}">&larr; Назад к новостям</a>
</article>
{% endblock content %}
